:root {
	--page-height: 700px;
}

body {
	margin: 0;
	font-family: Candara, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
}

.page-container {
	margin-bottom: 70px;
}

.page-container--colorized {
	background-color: $green;
	padding-top: 40px;

	h1.page-title {
		color: white;
	}
}

.page {
	min-height: var(--page-height);
	max-width: 1200px;
	margin: 0 auto;
}

h1.page-title {
	font-family: BrendaHome, sans-serif;
	margin-bottom: 60px;
	text-align: center;
	color: $green;
	font-weight: bold;
	font-size: 55px;
}
